* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img {
	width: 46.075px;
}
#navbar-1 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 55px;
	/* height: 8vh; */
	background-color: purple;
}
#navbar-2 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 55px;
	background-color: #a05050;
}
#navbar-2 a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 17px 10px;
	height: 55px;
}
#navbar-2 a:hover,
#navbar-2 a.active {
	background-color: #ffffff66;
	border-top: 4px solid tomato;
}
#navbar-1 .cart a {
	text-decoration: none;
	color: white;
}
i {
	filter: invert(100%);
	padding: 9px;
	border-radius: 5px;
}
.search {
	width: 60%;
}
.search-box {
	width: 90%;
	border-radius: 10px;
	height: 34px;
	padding: 5px 15px;
}
input[type="text"]::placeholder {
	text-align: center;
}
.fa-magnifying-glass {
	background-color: #a834fd;
}
.fa-magnifying-glass:hover,
.fa-cart-shopping:hover,
.btn-login:hover {
	cursor: pointer;
}
.btn-login {
	border-style: none;
	padding: 4px 10px;
	color: white;
	background: none;
	border: 3px solid white;
	border-radius: 50px;
	width: 170px;
}
.btn-login:hover {
	background-color: chartreuse;
	color: black;
	font-weight: 800;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}
.carousel-item {
	height: 300px;
}
footer {
	background-color: #000000cc;
	height: 300px;
	text-align: center;
	color: white;
}
footer h2 {
	padding-top: 142px;
}
